<tr><td>290</td><td>mail_to_psyhua</td><td></td><td>ru-RU</td></tr>
<tr><td>340</td><td>Тестовый список Кристины</td><td>Тестовый список Кристины</td><td>ru-RU</td></tr>
<tr><td>622</td><td>new yolka list</td><td></td><td>en-US</td></tr>
<tr><td>863</td><td>Expertsender_test_list</td><td>Тестовый лист</td><td>ru-RU</td></tr>
<tr><td>870</td><td>kiba_admail</td><td></td><td>ru-RU</td></tr>
<tr><td>999</td><td>test_test</td><td></td><td>ru-RU</td></tr>
<tr><td>1116</td><td>List_for_unsbcr</td><td>Лист для тестирования отписки </td><td>ru-RU</td></tr>
<tr><td>1138</td><td>FirstDb</td><td></td><td>en-US</td></tr>
<tr><td>2165</td><td>nicky_list</td><td></td><td>ru-RU</td></tr>
<tr><td>2193</td><td>SL_subscribers</td><td>Подписка SL</td><td>ru-RU</td></tr>
<tr><td>2213</td><td>List_es</td><td>List_es</td><td>ru-RU</td></tr>
<tr><td>2233</td><td>Uzya_list</td><td>Тестовый лист Мансумова</td><td>ru-RU</td></tr>
<tr><td>2246</td><td>kiba</td><td></td><td>ru-RU</td></tr>
<tr><td>2247</td><td>sekrety</td><td>Sekrety тестовые заказы</td><td>ru-RU</td></tr>
<tr><td>2248</td><td>generalova</td><td>generalova</td><td>ru-RU</td></tr>
<tr><td>2251</td><td>eg_test</td><td>eg_test</td><td>ru-RU</td></tr>
