<tr><td>111</td><td>LitGroup News</td><td></td><td>ru-RU</td></tr>
<tr><td>231</td><td>KH_test</td><td>Тестовая база Кинохода</td><td>ru-RU</td></tr>
<tr><td>233</td><td>yolka</td><td>yolka</td><td>ru-RU</td></tr>
<tr><td>271</td><td>apiTestListName</td><td></td><td>en-US</td></tr>
<tr><td>276</td><td>tt_bi</td><td>tt bi</td><td>ru-RU</td></tr>
<tr><td>288</td><td>otdyh-t</td><td>otdyh-t</td><td>ru-RU</td></tr>
<tr><td>289</td><td>Jobmax тест</td><td>Jobmax тестовая группа</td><td>ru-RU</td></tr>
<tr><td>296</td><td>test ukraina-hotel</td><td></td><td>ru-RU</td></tr>
<tr><td>297</td><td>ANPR Test</td><td></td><td>ru-RU</td></tr>
<tr><td>315</td><td>Test Liliya</td><td>Тест Лилия</td><td>ru-RU</td></tr>
<tr><td>326</td><td>test jobmax</td><td>test jobmax</td><td>ru-RU</td></tr>
<tr><td>328</td><td>ExpertSender</td><td>ExpertSender</td><td>en-US</td></tr>
<tr><td>333</td><td>список 6 октября</td><td>aaeb1b63-8a42-0763-5209-5432631ff77c</td><td>en-US</td></tr>
<tr><td>334</td><td>список 6 октября</td><td>aaeb1b63-8a42-0763-5209-5432631ff77c</td><td>en-US</td></tr>
<tr><td>335</td><td>список 6 октября</td><td>aaeb1b63-8a42-0763-5209-5432631ff77c</td><td>en-US</td></tr>
<tr><td>338</td><td>test_webforms</td><td></td><td>ru-RU</td></tr>
<tr><td>343</td><td>21 октября</td><td>a4fe1eb6-3488-a39c-74de-544635b3071e</td><td>en-US</td></tr>
<tr><td>344</td><td>21 октября</td><td>a4fe1eb6-3488-a39c-74de-544635b3071e</td><td>en-US</td></tr>
<tr><td>348</td><td>otp_test</td><td>otp_test</td><td>ru-RU</td></tr>
<tr><td>352</td><td>OTP transactional list</td><td></td><td>en-US</td></tr>
<tr><td>354</td><td>Максим</td><td>Максим</td><td>ru-RU</td></tr>
<tr><td>369</td><td>luzin_test</td><td>luzin_test</td><td>ru-RU</td></tr>
<tr><td>416</td><td>ntest</td><td>для сегментов</td><td>ru-RU</td></tr>
<tr><td>599</td><td>touchbank_smirnova</td><td>touchbank_smirnova</td><td>ru-RU</td></tr>
<tr><td>660</td><td>Только подписчики</td><td>48568ae7-3f7d-84c5-b2f1-551cfae13eb2</td><td>en-US</td></tr>
<tr><td>873</td><td>тест H</td><td>тест H</td><td>ru-RU</td></tr>
<tr><td>1007</td><td>Malik</td><td>Malik</td><td>ru-RU</td></tr>
<tr><td>1052</td><td>ap</td><td>срт</td><td>ru-RU</td></tr>
<tr><td>1076</td><td>mc_list</td><td>MC Leads and Customers</td><td>ru-RU</td></tr>
<tr><td>1079</td><td>Импорт_тест_ТТ</td><td>Импорт_тест_ТТ</td><td>ru-RU</td></tr>
<tr><td>1082</td><td>elitex</td><td>elitex</td><td>ru-RU</td></tr>
<tr><td>1094</td><td>MightyCTest</td><td>MightycTest</td><td>ru-RU</td></tr>
<tr><td>1100</td><td>testmax2016</td><td></td><td>ru-RU</td></tr>
<tr><td>1106</td><td>akvamarin_stage</td><td>akvamarin_stage</td><td>ru-RU</td></tr>
<tr><td>1107</td><td>integrator</td><td></td><td>ru-RU</td></tr>
<tr><td>1108</td><td>Lpgenerator_test</td><td>test email</td><td>ru-RU</td></tr>
<tr><td>1115</td><td>test_diginetica</td><td></td><td>ru-RU</td></tr>
<tr><td>1119</td><td>test</td><td></td><td>ru-RU</td></tr>
<tr><td>1132</td><td>new list for demo</td><td>Лист для демо</td><td>ru-RU</td></tr>
<tr><td>1134</td><td>unsubscribe list</td><td></td><td>en-US</td></tr>
<tr><td>1136</td><td>transaction_list_test</td><td></td><td>ru-RU</td></tr>
<tr><td>1142</td><td>FirstDb</td><td></td><td>en-US</td></tr>
<tr><td>1149</td><td>Julia.private</td><td></td><td>ru-RU</td></tr>
<tr><td>1151</td><td>TEST-ansol</td><td>TEST TEST</td><td>ru-RU</td></tr>
<tr><td>1153</td><td>тест-Максим Гошко</td><td>тестирование</td><td>ru-RU</td></tr>
<tr><td>1155</td><td>FM</td><td>FM</td><td>ru-RU</td></tr>
<tr><td>2163</td><td>Kate_test</td><td></td><td>en-US</td></tr>
<tr><td>2170</td><td>comet</td><td>FriendlyName - is comet</td><td>ru-RU</td></tr>
<tr><td>2171</td><td>Тест_Анна</td><td>Тестовый список</td><td>ru-RU</td></tr>
<tr><td>2172</td><td>Тест_Анна 2</td><td>Тестовый список 2</td><td>ru-RU</td></tr>
<tr><td>2180</td><td>OrderMaster3</td><td>OrderMaster3</td><td>ru-RU</td></tr>
<tr><td>2181</td><td>Olya test</td><td></td><td>ru-RU</td></tr>
<tr><td>2182</td><td>Maks</td><td></td><td>ru-RU</td></tr>
<tr><td>2183</td><td>Test_bank</td><td>Test_bank</td><td>ru-RU</td></tr>
<tr><td>2188</td><td>Test_FS</td><td>Test_fotosf</td><td>ru-RU</td></tr>
<tr><td>2191</td><td>TEST (CS)</td><td>Тестовый лист подписчиков (продажи)</td><td>ru-RU</td></tr>
<tr><td>2192</td><td>test - nasf.ru</td><td>test - nasf.ru</td><td>ru-RU</td></tr>
<tr><td>2202</td><td>Тестлист_2</td><td></td><td>ru-RU</td></tr>
<tr><td>2206</td><td>ТЕст</td><td>Тест</td><td>ru-RU</td></tr>
<tr><td>2221</td><td>Lol</td><td>Lol</td><td>ru-RU</td></tr>
<tr><td>2224</td><td>St_test_standart</td><td></td><td>ru-RU</td></tr>
<tr><td>2227</td><td>12</td><td>12</td><td>ru-RU</td></tr>
<tr><td>2229</td><td>11</td><td>11</td><td>ru-RU</td></tr>
<tr><td>2230</td><td>SL_subscribers_test</td><td></td><td>ru-RU</td></tr>
<tr><td>2235</td><td>2121zx21</td><td></td><td>ru-RU</td></tr>
<tr><td>2238</td><td>TestoviyList</td><td>TestoviyList1</td><td>ru-RU</td></tr>
<tr><td>2240</td><td>ilya_test</td><td>ilya_test</td><td>ru-RU</td></tr>
